In [1]:
import pandas as pd

In [2]:
#reading match data into a pandas dataframe
matches = pd.read_csv("matches.csv", index_col=0)

In [3]:
matches.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
1,12/08/2023,12:30,Premier League,Matchweek 1,Sat,Home,W,2,1,Nott'ham Forest,...,Match Report,NaN,15,7,19.1,0,0,0,2024,Arsenal
2,21/08/2023,20:00,Premier League,Matchweek 2,Mon,Away,W,1,0,Crystal Palace,...,Match Report,NaN,13,2,16.4,0,1,1,2024,Arsenal
3,26/08/2023,15:00,Premier League,Matchweek 3,Sat,Home,D,2,2,Fulham,...,Match Report,NaN,18,9,13.8,0,1,1,2024,Arsenal
4,03/09/2023,16:30,Premier League,Matchweek 4,Sun,Home,W,3,1,Manchester Utd,...,Match Report,NaN,17,5,15.0,0,0,0,2024,Arsenal
5,17/09/2023,16:30,Premier League,Matchweek 5,Sun,Away,W,1,0,Everton,...,Match Report,NaN,13,4,17.4,0,0,0,2024,Arsenal

In [4]:
matches.shape

(5126, 27)

In [5]:
# how many matches each team have
matches["team"].value_counts()

West Ham United             257
Arsenal                     256
Liverpool                   256
Crystal Palace              256
Newcastle United            256
Brighton and Hove Albion    256
Everton                     256
Manchester United           256
Manchester City             256
Tottenham Hotspur           256
Chelsea                     255
Southampton                 228
Leicester City              228
Burnley                     219
Wolverhampton Wanderers     218
Aston Villa                 181
Bournemouth                 180
Watford                     152
Fulham                      143
Leeds United                114
Brentford                   105
Sheffield United            104
Norwich City                 76
West Bromwich Albion         76
Huddersfield Town            76
Nottingham Forest            67
Cardiff City                 38
Swansea City                 38
Stoke City                   38
Luton Town                   29
Name: team, dtype: int64

In [6]:
# which match week each match was played
matches["round"].value_counts()

Matchweek 1     140
Matchweek 15    140
Matchweek 28    140
Matchweek 27    140
Matchweek 25    140
Matchweek 24    140
Matchweek 23    140
Matchweek 22    140
Matchweek 21    140
Matchweek 2     140
Matchweek 19    140
Matchweek 18    140
Matchweek 17    140
Matchweek 16    140
Matchweek 20    140
Matchweek 14    140
Matchweek 7     140
Matchweek 3     140
Matchweek 13    140
Matchweek 5     140
Matchweek 6     140
Matchweek 4     140
Matchweek 8     140
Matchweek 9     140
Matchweek 10    140
Matchweek 11    140
Matchweek 12    140
Matchweek 26    138
Matchweek 29    128
Matchweek 30    120
Matchweek 31    120
Matchweek 33    120
Matchweek 34    120
Matchweek 35    120
Matchweek 36    120
Matchweek 37    120
Matchweek 32    120
Matchweek 38    120
Name: round, dtype: int64

In [7]:
#cleaning data

In [8]:
matches.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf                int64
ga                int64
opponent         object
xg              float64
xga             float64
poss              int64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh                int64
sot               int64
dist            float64
fk                int64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [9]:
#need only numeric data

In [10]:
#converting the existing column to a date time and than overwriting column
matches["date"] = pd.to_datetime(matches["date"])

C:\Users\Asset\AppData\Local\Temp\ipykernel_15328\3008746622.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  matches["date"] = pd.to_datetime(matches["date"])

In [11]:
matches.dtypes

date            datetime64[ns]
time                    object
comp                    object
round                   object
day                     object
venue                   object
result                  object
gf                       int64
ga                       int64
opponent                object
xg                     float64
xga                    float64
poss                     int64
attendance             float64
captain                 object
formation               object
referee                 object
match report            object
notes                  float64
sh                       int64
sot                      int64
dist                   float64
fk                       int64
pk                       int64
pkatt                    int64
season                   int64
team                    object
dtype: object

In [12]:
#creating predictors

In [13]:
# convert venue(home/away) column into a numeric column, indicate the team played a home or an away game
# category will convert it to a categorical data type in pandas, there are only two unique values in the column and then we will convert it into integers using cat.codes  
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [14]:
# create a unique code for each opponent squad
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [15]:
# look at hour column, maybe certain teams play better at certain times of day
# remove minutes and keep the hour by using string replacement
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [16]:
# give a number for each day of the week, so Monday is 0, Tuesday is 1, Wednesday is 3 and so on ...  
matches["day_code"] = matches["date"].dt.dayofweek

In [17]:
# set up target that going to try to predict, target is the team won or not
# W - True(1), D,L - False (0)
matches["target"] = (matches["result"] == "W").astype("int")

In [18]:
matches

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
1,2023-12-08,12:30,Premier League,Matchweek 1,Sat,Home,W,2,1,Nott'ham Forest,...,0,0,0,2024,Arsenal,1,20,12,4,1
2,2023-08-21,20:00,Premier League,Matchweek 2,Mon,Away,W,1,0,Crystal Palace,...,0,1,1,2024,Arsenal,0,8,20,0,1
3,2023-08-26,15:00,Premier League,Matchweek 3,Sat,Home,D,2,2,Fulham,...,0,1,1,2024,Arsenal,1,10,15,5,0
4,2023-03-09,16:30,Premier League,Matchweek 4,Sun,Home,W,3,1,Manchester Utd,...,0,0,0,2024,Arsenal,1,17,16,3,1
5,2023-09-17,16:30,Premier League,Matchweek 5,Sun,Away,W,1,0,Everton,...,0,0,0,2024,Arsenal,0,9,16,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2018-04-15,16:00,Premier League,Matchweek 34,Sun,Away,W,1,0,Manchester Utd,...,0,0,0,2018,West Bromwich Albion,0,17,16,6,1
39,2018-04-21,12:30,Premier League,Matchweek 35,Sat,Home,D,2,2,Liverpool,...,0,0,0,2018,West Bromwich Albion,1,14,12,5,0
40,2018-04-28,15:00,Premier League,Matchweek 36,Sat,Away,W,1,0,Newcastle Utd,...,0,0,0,2018,West Bromwich Albion,0,18,15,5,1
41,2018-05-05,15:00,Premier League,Matchweek 37,Sat,Home,W,1,0,Tottenham,...,0,0,0,2018,West Bromwich Albion,1,25,15,5,1
42,2018-05-13,15:00,Premier League,Matchweek 38,Sun,Away,L,0,2,Crystal Palace,...,1,0,0,2018,West Bromwich Albion,0,8,15,6,0

In [19]:
#creating initial machine learning model

In [20]:
#type of machine learning model that can pick up non-linearities in the data, for example opp_code does not necessarily have a linear relationship, so an opponent code of 18 does not imply that the opponent is more difficult than the opponent code is 15  
from sklearn.ensemble import RandomForestClassifier

In [21]:
# initialize the class
# n_estimators - number of individual decision trees to train
# min_samples_split - number of samples to have in a leaf of the descision tree
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [22]:
#take anything that came before 2024, so all of the matches before 2024 and put those in training set
train = matches[matches["date"] < '2024-01-01']

In [23]:
# test set will be anything in 2024
test = matches[matches["date"] > '2024-01-01']

In [24]:
# create predictors, list of the predictor columns that created
predictors = ["venue_code", "opp_code", "hour", "day_code"]

In [25]:
# fit our random forest model, fit it using train predictors and try to predict target 
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [26]:
# generate predictions, pass test data and predictors
preds = rf.predict(test[predictors])

In [27]:
# accuracy_score is a metric that basically say if predicted a win what percentage of the time did the team actually win, if predicted a loss what percentage of the time did the team actually lose
from sklearn.metrics import accuracy_score

In [28]:
#
acc = accuracy_score(test["target"], preds)

In [29]:
# accuracy that prediction would happen about 62% 
acc

0.622093023255814

In [30]:
#dataframe to combine actual values and predicted values
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [31]:
#create a crosstab
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted   0   1
actual
0          87  22
1          43  20

In [32]:
#predicted a win what percentage of the time did the team actually win
from sklearn.metrics import precision_score

In [33]:
#precision only about 47%
precision_score(test["target"], preds)

0.47619047619047616

In [34]:
#create one dataframe for every squad in data
grouped_matches = matches.groupby("team")

In [35]:
#give a single group from the data
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [36]:
group

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,fk,pk,pkatt,season,team,venue_code,opp_code,hour,day_code,target
21,2017-03-12,16:00,Premier League,Matchweek 15,Sun,Home,W,2,1,West Ham,...,1,0,0,2018,Manchester City,1,28,16,6,1
16,2017-05-11,14:15,Premier League,Matchweek 11,Sun,Home,W,3,1,Arsenal,...,0,1,1,2018,Manchester City,1,0,14,3,1
1,2017-08-21,20:00,Premier League,Matchweek 2,Mon,Home,D,1,1,Everton,...,1,0,0,2018,Manchester City,1,9,20,0,0
2,2017-08-26,12:30,Premier League,Matchweek 3,Sat,Away,W,2,1,Bournemouth,...,1,0,0,2018,Manchester City,0,2,12,5,1
3,2017-09-09,12:30,Premier League,Matchweek 4,Sat,Home,W,5,0,Liverpool,...,0,0,0,2018,Manchester City,1,14,12,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2024-02-24,17:30,Premier League,Matchweek 26,Sat,Away,W,1,0,Bournemouth,...,1,0,0,2024,Manchester City,0,2,17,5,1
39,2024-03-03,15:30,Premier League,Matchweek 27,Sun,Home,W,3,1,Manchester Utd,...,1,0,0,2024,Manchester City,1,17,15,6,1
32,2024-05-02,20:00,Premier League,Matchweek 23,Mon,Away,W,3,1,Brentford,...,0,0,0,2024,Manchester City,0,3,20,3,1
33,2024-10-02,12:30,Premier League,Matchweek 24,Sat,Home,W,2,0,Everton,...,0,0,0,2024,Manchester City,1,9,12,2,1
41,2024-10-03,15:45,Premier League,Matchweek 28,Sun,Away,D,1,1,Liverpool,...,0,0,0,2024,Manchester City,0,14,15,3,0

In [37]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [38]:
#columns to compute rolling averages
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
2,2017-08-26,12:30,Premier League,Matchweek 3,Sat,Away,W,2,1,Bournemouth,...,5,1,2.000000,1.000000,17.000000,6.000000,18.700000,0.666667,0.333333,0.333333
3,2017-09-09,12:30,Premier League,Matchweek 4,Sat,Home,W,5,0,Liverpool,...,5,1,2.000000,1.000000,15.333333,6.000000,17.566667,0.666667,0.333333,0.333333
5,2017-09-16,15:00,Premier League,Matchweek 5,Sat,Away,W,6,0,Watford,...,5,1,2.666667,0.666667,17.000000,8.000000,16.733333,0.666667,0.000000,0.000000
7,2017-09-23,15:00,Premier League,Matchweek 6,Sat,Home,W,5,0,Crystal Palace,...,5,1,4.333333,0.333333,19.666667,9.000000,15.800000,0.333333,0.333333,0.333333
9,2017-09-30,17:30,Premier League,Matchweek 7,Sat,Away,W,1,0,Chelsea,...,5,1,5.333333,0.000000,21.666667,9.333333,14.900000,0.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37,2024-02-24,17:30,Premier League,Matchweek 26,Sat,Away,W,1,0,Bournemouth,...,5,1,1.666667,0.666667,23.333333,6.333333,16.433333,0.666667,0.000000,0.000000
39,2024-03-03,15:30,Premier League,Matchweek 27,Sun,Home,W,3,1,Manchester Utd,...,6,1,1.000000,0.333333,23.666667,7.000000,16.333333,0.666667,0.000000,0.000000
32,2024-05-02,20:00,Premier League,Matchweek 23,Mon,Away,W,3,1,Brentford,...,3,1,1.666667,0.333333,22.333333,8.000000,16.933333,0.666667,0.000000,0.000000
33,2024-10-02,12:30,Premier League,Matchweek 24,Sat,Home,W,2,0,Everton,...,2,1,2.333333,0.666667,22.333333,9.666667,17.466667,0.666667,0.000000,0.000000
41,2024-10-03,15:45,Premier League,Matchweek 28,Sun,Away,D,1,1,Liverpool,...,3,0,2.666667,0.666667,23.666667,8.666667,18.100000,0.333333,0.000000,0.000000

In [39]:
matches_rolling = matches.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))

In [40]:
matches_rolling

                                 date   time            comp         round  \
team
Arsenal                 2  2017-08-19  17:30  Premier League   Matchweek 2
                        3  2017-08-27  16:00  Premier League   Matchweek 3
                        4  2017-09-09  15:00  Premier League   Matchweek 4
                        6  2017-09-17  13:30  Premier League   Matchweek 5
                        8  2017-09-25  20:00  Premier League   Matchweek 6
...                               ...    ...             ...           ...
Wolverhampton Wanderers 29 2024-02-17  15:00  Premier League  Matchweek 25
                        30 2024-02-25  13:30  Premier League  Matchweek 26
                        27 2024-04-02  14:00  Premier League  Matchweek 23
                        33 2024-09-03  15:00  Premier League  Matchweek 28
                        28 2024-10-02  15:00  Premier League  Matchweek 24

                            day venue result  gf  ga       opponent  ...  \
team                                                                 ...
Arsenal                 2   Sat  Away      L   0   1     Stoke City  ...
                        3   Sun  Away      L   0   4      Liverpool  ...
                        4   Sat  Home      W   3   0    Bournemouth  ...
                        6   Sun  Away      D   0   0        Chelsea  ...
                        8   Mon  Home      W   2   0      West Brom  ...
...                         ...   ...    ...  ..  ..            ...  ...
Wolverhampton Wanderers 29  Sat  Away      W   2   1      Tottenham  ...
                        30  Sun  Home      W   1   0  Sheffield Utd  ...
                        27  Sun  Away      W   4   2        Chelsea  ...
                        33  Sat  Home      W   2   1         Fulham  ...
                        28  Sat  Home      L   0   2      Brentford  ...

                            day_code  target  gf_rolling  ga_rolling  \
team
Arsenal                 2          5       0    1.333333    2.000000
                        3          6       0    0.666667    2.333333
                        4          5       1    0.333333    2.666667
                        6          6       0    1.000000    1.666667
                        8          0       1    1.000000    1.333333
...                              ...     ...         ...         ...
Wolverhampton Wanderers 29         5       1    1.000000    2.333333
                        30         6       1    0.666667    1.333333
                        27         1       1    1.000000    1.333333
                        33         1       1    2.333333    1.000000
                        28         2       0    2.333333    1.000000

                           sh_rolling sot_rolling dist_rolling fk_rolling  \
team
Arsenal                 2   21.333333    8.333333    18.533333   1.666667
                        3   19.000000    7.666667    18.433333   1.000000
                        4   10.666667    3.000000    18.400000   0.333333
                        6   14.333333    5.000000    16.766667   0.333333
                        8   12.000000    3.666667    16.566667   0.333333
...                               ...         ...          ...        ...
Wolverhampton Wanderers 29  11.666667    3.666667    17.033333   0.333333
                        30  10.666667    4.333333    16.800000   0.000000
                        27  12.333333    4.000000    15.466667   0.000000
                        33  12.666667    5.000000    15.700000   0.666667
                        28  11.333333    3.666667    15.833333   0.666667

                            pk_rolling  pkatt_rolling
team
Arsenal                 2     0.000000       0.000000
                        3     0.000000       0.000000
                        4     0.000000       0.000000
                        6     0.000000       0.000000
                        8     0.000000       0.000000
...                                ...            ...
Wolverhampton Wanderers 29    0.333333       0.333333
                        30    0.000000       0.000000
                        27    0.000000       0.000000
                        33    0.333333       0.333333
                        28    0.333333       0.333333

[5030 rows x 40 columns]

In [41]:
matches_rolling = matches_rolling.droplevel('team')

In [42]:
matches_rolling

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,day_code,target,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
2,2017-08-19,17:30,Premier League,Matchweek 2,Sat,Away,L,0,1,Stoke City,...,5,0,1.333333,2.000000,21.333333,8.333333,18.533333,1.666667,0.000000,0.000000
3,2017-08-27,16:00,Premier League,Matchweek 3,Sun,Away,L,0,4,Liverpool,...,6,0,0.666667,2.333333,19.000000,7.666667,18.433333,1.000000,0.000000,0.000000
4,2017-09-09,15:00,Premier League,Matchweek 4,Sat,Home,W,3,0,Bournemouth,...,5,1,0.333333,2.666667,10.666667,3.000000,18.400000,0.333333,0.000000,0.000000
6,2017-09-17,13:30,Premier League,Matchweek 5,Sun,Away,D,0,0,Chelsea,...,6,0,1.000000,1.666667,14.333333,5.000000,16.766667,0.333333,0.000000,0.000000
8,2017-09-25,20:00,Premier League,Matchweek 6,Mon,Home,W,2,0,West Brom,...,0,1,1.000000,1.333333,12.000000,3.666667,16.566667,0.333333,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29,2024-02-17,15:00,Premier League,Matchweek 25,Sat,Away,W,2,1,Tottenham,...,5,1,1.000000,2.333333,11.666667,3.666667,17.033333,0.333333,0.333333,0.333333
30,2024-02-25,13:30,Premier League,Matchweek 26,Sun,Home,W,1,0,Sheffield Utd,...,6,1,0.666667,1.333333,10.666667,4.333333,16.800000,0.000000,0.000000,0.000000
27,2024-04-02,14:00,Premier League,Matchweek 23,Sun,Away,W,4,2,Chelsea,...,1,1,1.000000,1.333333,12.333333,4.000000,15.466667,0.000000,0.000000,0.000000
33,2024-09-03,15:00,Premier League,Matchweek 28,Sat,Home,W,2,1,Fulham,...,1,1,2.333333,1.000000,12.666667,5.000000,15.700000,0.666667,0.333333,0.333333
28,2024-10-02,15:00,Premier League,Matchweek 24,Sat,Home,L,0,2,Brentford,...,2,0,2.333333,1.000000,11.333333,3.666667,15.833333,0.666667,0.333333,0.333333

In [43]:
matches_rolling.index = range(matches_rolling.shape[0])

In [44]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2024-01-01']
    test = data[data["date"] > '2024-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    acc = precision_score(test["target"], preds)
    return combined, acc

In [45]:
combined, acc = make_predictions(matches_rolling, predictors + new_cols)

In [46]:
acc

0.5471698113207547

In [47]:
combined

      actual  predicted
245        1          0
246        1          1
247        1          1
248        1          1
249        1          0
...      ...        ...
5025       1          0
5026       1          0
5027       1          0
5028       1          1
5029       0          0

[172 rows x 2 columns]

In [48]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [49]:
combined.head(10)

     actual  predicted       date         team         opponent result
245       1          0 2024-01-20      Arsenal   Crystal Palace      W
246       1          1 2024-01-30      Arsenal  Nott'ham Forest      W
247       1          1 2024-02-17      Arsenal          Burnley      W
248       1          1 2024-02-24      Arsenal    Newcastle Utd      W
249       1          0 2024-04-02      Arsenal        Liverpool      W
250       1          1 2024-04-03      Arsenal    Sheffield Utd      W
251       1          1 2024-09-03      Arsenal        Brentford      W
252       1          1 2024-11-02      Arsenal         West Ham      W
422       0          0 2024-01-14  Aston Villa          Everton      D
423       0          0 2024-01-30  Aston Villa    Newcastle Utd      L

In [50]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", 
              "Huddersfield Town": "Huddersfield",
              "Manchester United": "Manchester Utd", 
              "Newcastle United": "Newcastle Utd",
              "Nottingham Forest": "Nott'ham Forest",
              "Sheffield United": "Sheffield Utd",            
              "Tottenham Hotspur": "Tottenham", 
              "West Bromwich Albion": " West Brom",
              "West Ham United": "West Ham", 
              "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [51]:
combined["new_team"] = combined["team"].map(mapping)

In [52]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [53]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,1,0,2024-01-20,Arsenal,Crystal Palace,W,Arsenal,0,0,Crystal Palace,Arsenal,L,Crystal Palace
1,1,1,2024-01-30,Arsenal,Nott'ham Forest,W,Arsenal,0,0,Nottingham Forest,Arsenal,L,Nott'ham Forest
2,1,1,2024-02-17,Arsenal,Burnley,W,Arsenal,0,0,Burnley,Arsenal,L,Burnley
3,1,1,2024-02-24,Arsenal,Newcastle Utd,W,Arsenal,0,1,Newcastle United,Arsenal,L,Newcastle Utd
4,1,0,2024-04-02,Arsenal,Liverpool,W,Arsenal,0,1,Liverpool,Arsenal,L,Liverpool
...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,1,0,2024-02-17,Wolverhampton Wanderers,Tottenham,W,Wolves,0,1,Tottenham Hotspur,Wolves,L,Tottenham
168,1,0,2024-02-25,Wolverhampton Wanderers,Sheffield Utd,W,Wolves,0,0,Sheffield United,Wolves,L,Sheffield Utd
169,1,0,2024-04-02,Wolverhampton Wanderers,Chelsea,W,Wolves,0,0,Chelsea,Wolves,L,Chelsea
170,1,1,2024-09-03,Wolverhampton Wanderers,Fulham,W,Wolves,0,0,Fulham,Wolves,L,Fulham
171,0,0,2024-10-02,Wolverhampton Wanderers,Brentford,L,Wolves,1,0,Brentford,Wolves,W,Brentford

In [54]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    28
0    17
Name: actual_x, dtype: int64

In [55]:
#accuracy about 70 percent 
28/40

0.7